<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!--[Add carrrier to global system "carriers" group]-->
        <section id="carriers">
            <!--[Create group of carrier's fields with identifier]-->
            <group id="storepickup" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                <!--[Carrier's label on backend]-->
                <label>In-Store Pickup</label>
                <!--[Carrier's activate field with yes/no source model for dropdown]-->
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled for Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <!--[Carrier's title field for storefront]-->
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
				<!--[Carrier's delivery delay field for storefront]-->
                <field id="estimate_delivery" translate="label" type="text" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Estimate delivery</label>
                </field>
				<!--[Carrier's minimum linear meter field for storefront]-->
                <field id="min_linear" translate="label" type="text" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Min Linear (m)</label>
                </field>
				<!--[Carrier's maximum linear meter field for storefront]-->
                <field id="max_linear" translate="label" type="text" sortOrder="23" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max Linear (m)</label>
                </field>
				<!--[Carrier's minimum order price field for storefront]-->
                <field id="min_order_price" translate="label" type="text" sortOrder="24" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Min Order Price (€ excluding tax)</label>
                </field>
				<!--[Carrier's logo field for storefront]-->
				<field id="logo" translate="label" type="image" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logo</label>
                    <comment>Allowed file types: PNG, GIF, JPG, JPEG.</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Image\Logo</backend_model>
                    <base_url type="media" scope_info="1">logo</base_url>
                </field>
			
				<!--[Carrier's tooltip content field for storefront]-->
                <field id="tooltip_content" translate="label" type="text" sortOrder="26" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tooltip Content</label>
                </field>
				<!--[Carrier's active free shipping field for storefront]-->
                <field id="active_freeshipping" translate="label" type="select" sortOrder="27" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Active Free Shipping</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				<!--[Carrier's free shipping minimum order price field for storefront]-->
                <field id="freeshipping_min_price" translate="label" type="text" sortOrder="28" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Free Shipping Minimum Order Price</label>
                </field>
				<!--[Carrier's reduce shipping price field for storefront]-->
                <field id="active_reduction_shipping" translate="label" type="select" sortOrder="29" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Active Reduction Shipping</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
               <!--[Carrier's custom field for entering reduction shipping amounts]-->
                <field id="reduction_shipping_amounts" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Reduction Amounts</label>
                    <!--[Frontend model define rules, that user on backend front]-->
                    <frontend_model>Nolwennig\PickupInStore\Block\System\Config\Form\Field\ReductionAmounts</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
				
                <!--[Carrier's custom field for entering merchant store locations]-->
                <field id="store_locations" translate="label comment" sortOrder="33" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Store Locations</label>
                    <!--[Frontend model define rules, that user on backend front]-->
                    <frontend_model>Nolwennig\PickupInStore\Block\System\Config\Form\Field\Locations</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>List of locations where customer can pick up ordered item.</comment>
                </field>
                <!--[Carrier's displayed error message on storefront if unavailable]-->
                <field id="specificerrmsg" translate="label" type="textarea" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Displayed Error Message</label>
                </field>
                <!--[Carrier's show method if unavailable with error message activate field]-->
                <field id="showmethod" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show Method if Not Applicable</label>
                    <frontend_class>shipping-skip-hide</frontend_class>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <!--[Carrier's sort order]-->
                <field id="sort_order" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                </field>
            </group>
        </section>
    </system>
</config>
